{% extends 'base.html' %}

{% block content %}
<div class="hero min-h-screen" style="background-image: url(https://static3.depositphotos.com/1000363/108/i/950/depositphotos_1084893-stock-photo-calendar.jpg);">
    <div class="hero-overlay" style="backdrop-filter: blur(8px);"></div>
    <div class="hero-content text-neutral-content text-center">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
            <p class="mb-5">
                Want to have control over your destiny? The easiest to do so: AMA - a Revolutionary Advanced Development Product, designed to help you take control over your everyday life.
            </p>
            <a href="{{ url_for('log_in') }}" class="btn btn-primary bg-primary">Let's go!</a>
        </div>
    </div>
</div>
{% endblock %}