{% extends 'base.html' %}

{% macro render_field(field, class_="", id="") %}
    <div class="form-group">
        {{ field.label(class_="form-label") }}
        {{ field(class_=class_, id=id) }}
        {% if field.errors %}
            <ul class="form-errors">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}

{% block content %}
<div class="container mx-auto p-4 pb-12">
    <div class="bg-white shadow-lg rounded-lg p-6 relative">
        <div class="bg-primary text-white text-2xl font-bold text-center py-4 rounded-lg mb-6">
            Weekly Schedule
        </div>

        <div class="block lg:hidden">
            <div class="space-y-4">
                {% for day, activities in schedule.items() %}
                    <div class="collapse bg-base-100 border border-base-300 rounded-lg">
                        <input type="checkbox"/>
                        <div class="collapse-title font-semibold bg-primary text-white rounded-t-lg px-16">
                            <p class="text-center">{{ day }}</p>
                        </div>
                        <div class="collapse-content">
                            <div id="{{ day | lower }}-activities" class="space-y-2 pt-3">
                                {% for activity in activities %}
                                    <div class="card border rounded-lg p-3 hover:shadow-lg transition-shadow duration-200 {{ 'bg-warning' if activity.is_optimized else '' }}" onclick="openBox('{{ activity.id }}', '{{ activity.details }}', '{{ activity.start_time }}', '{{ activity.end_time }}', '{{ day }}')">
                                        <h4 class="text-md font-semibold">{{ activity.details }}</h4>
                                        <div class="text-sm mt-2">
                                            <p class="flex items-center"><span class="font-medium mr-2">Start:</span> {{ activity.start_time }}</p>
                                            <p class="flex items-center"><span class="font-medium mr-2">End:</span> {{ activity.end_time }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="hidden lg:block">
            <div class="grid grid-cols-7 gap-4">
                {% for day, activities in schedule.items() %}
                    <div class="bg-base-100 rounded-lg shadow-md">
                        <h3 class="text-lg font-semibold text-center bg-primary text-white p-2 rounded-t-lg">{{ day }}</h3>
                        <div id="{{ day | lower }}-activities" class="p-3 space-y-2 max-h-[calc(100vh-12rem)] overflow-y-auto">
                            {% for activity in activities %}
                                <div class="card border rounded-lg p-3 hover:shadow-lg transition-shadow duration-200 cursor-pointer" onclick="openBox('{{ activity.id }}', '{{ activity.details }}', '{{ activity.start_time }}', '{{ activity.end_time }}', '{{ day }}')">
                                    <h4 class="text-md font-semibold">{{ activity.details }}</h4>
                                    <div class="text-sm mt-2">
                                        <p class="flex items-center"><span class="font-medium mr-2">Start:</span> {{ activity.start_time }}</p>
                                        <p class="flex items-center"><span class="font-medium mr-2">End:</span> {{ activity.end_time }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <a href="{{ url_for('create_schedule') }}" class="btn btn-primary bottom-4 left-4 mt-5 mr-2">
        + Create Activity
    </a>
    <a href="{{ url_for('generate_schedule') }}" class="btn btn-primary bottom-4 left-4 mt-5">
        <img src="{{ url_for('static', filename='weather-lightning-rounded-thunder-flash.svg') }}" alt="Logo" class="h-4 invert">
        Generate schedule
    </a>
</div>

<div id="overlay" onclick="closeBox()" class="fixed inset-0 bg-black/50 hidden z-40"></div>

<div id="activity-box" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white shadow-lg rounded-lg p-8 hidden w-[90%] md:w-[50%] lg:w-[40%] max-w-[600px] z-50">
    <div class="card-body p-0">
        <h3 class="text-2xl font-bold text-center mb-6 text-primary">Edit Schedule</h3>
        <form method="POST" action="/view-schedule/">
            {{ form.hidden_tag() }}
            <input type="hidden" id="activity-id" name="id" value="">
            <input type="hidden" id="activity-day" name="day" value="">
            <div class="bg-white font-semibold">
                <div class="bg-base-100 border-base-300">
                    <div class="flex form-control mb-4 justify-center w-full">
                        <div class="flex-col w-full">
                            <label class="label-text text-lg font-semibold w-full">Activity</label>
                            {{ render_field(form.details, id="activity-details", class_="input input-bordered text-base w-full") }}
                        </div>
                    </div>
                    <div class="form-control mb-4 flex flex-col sm:flex-row gap-4 justify-between">
                        <div class="w-full sm:w-1/2">
                            <label class="label-text text-lg font-semibold">Start Time</label>
                            {{ render_field(form.start_time, id="activity-start", class_="input input-bordered text-base w-full") }}
                        </div>
                        <div class="w-full sm:w-1/2">
                            <label class="label-text text-lg font-semibold">End Time</label>
                            {{ render_field(form.end_time, id="activity-end", class_="input input-bordered text-base w-full") }}
                        </div>
                    </div>
                    <div class="modal-action mt-6 flex gap-2 justify-end">
                        <button class="btn" onclick="closeBox()">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function openBox(id, details, start, end, day) {
        document.getElementById('activity-id').value = id;
        document.getElementById('activity-details').value = details;
        document.getElementById('activity-start').value = start;
        document.getElementById('activity-end').value = end;
        document.getElementById('activity-day').value = day;
        document.getElementById('activity-box').classList.remove('hidden');
        document.getElementById('overlay').classList.remove('hidden');
    }

    function closeBox() {
        event.preventDefault();
        document.getElementById('activity-box').classList.add('hidden');
        document.getElementById('overlay').classList.add('hidden');
    }
</script>

{% endblock content %}